{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html>

{% block content %}

<head>
  <title>Add Warehouse Movement</title>

  <script src="{% static 'add_warehouse_movements/add_warehouse_movements.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'add_warehouse_movements/add_warehouse_movements.css' %}">
</head>

<style>
  h2 {
    text-align: center;
    /* Выравнивание заголовка по центру */
    font-weight: bold;
    /* Установка жирного начертания шрифта */
    margin-bottom: 24px;
    /* Отступ снизу */
    padding: 16px;
    /* Внутренний отступ */
    border-bottom: 1px solid #ccc;
    /* Граница снизу */
  }
</style>

<body>
  <h2>Add Warehouse Movement</h2>

  <form method="post" action="{% url 'add_warehouse_movement' %}" onsubmit="return validateForm()">
    {% csrf_token %}

    <label for="warehouse_minus">Warehouse Minus:</label>
    <select name="warehouse_minus" id="warehouse_minus">
      {% for warehouse in warehouses %}
      <option value="{{ warehouse.id }}" data-quantity="{{ warehouse.total_quantity }}">{{ warehouse.address }}</option>
      {% endfor %}
    </select>

    <input type="hidden" name="id_warehouse_minus" id="id_warehouse_minus">

    <label for="component_name">Component Name:</label>
    <select name="component_name" id="component_name">
      {% for component in components %}
      <option value="{{ component.id }}" data-quantity="{{ component.total_quantity }}">{{ component.name }}</option>
      {% endfor %}
    </select>

    <label for="quantity">Quantity:</label>
    <input type="text" name="quantity" id="quantity">

    <label for="warehouse_plus">Warehouse Plus:</label>
    <select name="id_warehouse_plus" id="warehouse_plus">
      {% for warehouse in warehouses %}
      <option value="{{ warehouse.id }}">{{ warehouse.address }}</option>
      {% endfor %}
    </select>

    <label for="id_date">Date:</label>
    <input type="datetime-local" name="date" id="id_date" required readonly>

    <label for="comment">Comment:</label>
    <input type="text" name="comment" required>

    <button type="submit">Add Movement</button>
    <a href="{% url 'warehouse_movements' %}"><button type="button">Go to home</button></a>
  </form>

</body>
{% endblock %}

</html>