{% extends 'index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'products_movements/add_products_movements.css' %}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<div class="form-container" role="form">
    <h2>Add Products Movement</h2>

    <form method="post" action="{% url 'add_products_movements' %}" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="IdWarehouse">Warehouse ID:</label>
            <select id="IdWarehouse" name="IdWarehouse" required>
                {% for warehouse in warehouses %}
                <option value="{{ warehouse.id }}">{{ warehouse.address }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" required placeholder="Enter quantity">
        </div>

        <div class="form-group">
            <label for="IdComponents">Components ID:</label>
            <select id="IdComponents" name="IdComponents" required>
                {% for component in components %}
                <option value="{{ component.id }}">{{ component.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="IdProduct">Product ID:</label>
            <select id="IdProduct" name="IdProduct" required>
                {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" name="status" required>
                <option value="updated">Updated</option>
                <option value="substitution">Substitution</option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{% url 'products_movements' %}"><button type="button">Bake to Products Movements</button></a>
        </div>
    </form>
</div>

{% endblock %}