body {
    font-family: sans-serif;
    /* Установка шрифта для всего документа */
    background-color: #f2f2f2;
    /* Установка цвета фона */
}

h2 {
    text-align: center;
    /* Выравнивание заголовка по центру */
    font-weight: bold;
    /* Установка жирного начертания шрифта */
    margin-bottom: 24px;
    /* Отступ снизу */
    padding: 16px;
    /* Внутренний отступ */
    border-bottom: 1px solid #ccc;
    /* Граница снизу */
}

form {
    width: 50%;
    /* Ширина формы */
    margin: 0 auto;
    /* Выравнивание формы по центру */
}

label {
    display: block;
    margin-bottom: 8px;
}

select,
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    /* Цвет фона кнопки */
    color: white;
    /* Цвет текста кнопки */
    padding: 10px 16px;
    /* Внутренний отступ кнопки */
    border: none;
    /* Удаление границы кнопки */
    border-radius: 4px;
    /* Закругление углов кнопки */
    cursor: pointer;
    /* Установка курсора при наведении */
    font-size: 16px;
    /* Размер шрифта */
}

button[type="button"] {
    background-color: #95a5a6;
    padding: 10px 15px;
    font-size: 16px;
}

#error-message {
    color: red;
    margin-top: 15px;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}