{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/add_orders.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Add Order</title>
</head>

<body>

    <h2>Add Order</h2>

    <form method="post" action="{% url 'add_orders' %}">
        {% csrf_token %}

        <label for="date">Date:</label>
        <!-- Добавляем атрибут id для легкого доступа из JavaScript -->
        <input type="date" id="date" name="date" required>

        <label for="status">Status:</label>
        <select name="status" required>
            <option value="PENDING">В ожидании</option>
            <option value="PROCESSING">В обработке</option>
            <option value="COMPLETED">Завершен</option>
            <option value="CANCELLED">Отменен</option>
        </select>

        <label for="employee">Employee:</label>
        <select name="employee" required>
            {% for employee in employees %}
            <option value="{{ employee.id }}">{{ employee.name }} {{ employee.lastName }}</option>
            {% endfor %}
        </select>

        <label for="product">Product:</label>
        <select name="product" required>
            {% for product in products %}
            <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
        </select>

        <label for="office">Office:</label>
        <select name="office" required>
            {% for office in offices %}
            <option value="{{ office.id }}">{{ office.address }}</option>
            {% endfor %}
        </select>

        <label for="comment">Comment:</label>
        <textarea name="comment" rows="4" cols="50" required></textarea>

        <p><button type="submit">Add Order</button>
        <a href="{% url 'orders' %}"><button type="button">Back to Orders List</button></a>
    </form>

    <script>
        function setInitialDate() {
            // Получаем текущую дату
            var currentDate = new Date().toISOString().split('T')[0];

            // Устанавливаем значение текущей даты в поле с id "date"
            document.getElementById('date').value = currentDate;
        }

        // Вызываем функцию setInitialDate при загрузке страницы
        window.onload = setInitialDate;
    </script>

</body>
{% endblock %}

</html>