{% extends 'index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'products/add_products.css' %}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<div class="form-container">
    <h2>Add Product</h2>

    <form method="post" action="{% url 'add_products' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="category" required>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{% url 'products' %}"><button type="button">Back to Products List</button></a>
        </div>
    </form>
</div>

{% endblock %}