{% extends 'index.html' %}
{% block content %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'employees/add_employees.css' %}">
    <div class="form-container">
        <h2>Add Employee</h2>

        <form method="post" action="{% url 'add_employees' %}">
            {% csrf_token %}

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="lastName" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add</button>
                <a href="{% url 'employees' %}" class="btn btn-secondary"><button type="button">Back to Employees List</button></a>
            </div>
        </form>
    </div>
{% endblock %}
