{% extends 'index.html' %}



{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'employees/edit_empoyees.css' %}">

<h2>Edit Employee</h2>

<form method="post">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ employee.name }}" required>

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" value="{{ employee.lastName }}" required>

    <button type="submit">Save Changes</button>
    <a href="{% url 'employees' %}"><button type="button">Back to Employees List</button></a>
</form>

{% endblock %}