<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/index.css' %}">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Inventory Management System</h1>
        </div>
    </header>

    <main>
        <aside class="sidebar">
            <section class="warehouse"></section>
            <h2><span class="emoji">🏬</span> <a href="{% url 'warehouse' %}">Warehouses</a></h2>
            </section>


            {% if request.session.is_admin %}
            <!-- Показывать раздел "Employees" только для администратора -->
            <section class="offices">
                <h2><span class="emoji">🏢</span> <a href="{% url 'offices' %}">Offices</a></h2>
            </section>

            <section class="employees">
                <h2><span class="emoji">👥</span> <a href="{% url 'employees' %}">Employees</a></h2>
            </section>

            <section class="products">
                <h2><span class="emoji">📦</span> <a href="{% url 'products' %}">Products</a></h2>
            </section>

            <section class="orders">
                <h2><span class="emoji">📑</span> <a href="{% url 'orders' %}">Orders</a></h2>
            </section>

            <section class="components">
                <h2><span class="emoji">⚙️</span> <a href="{% url 'components' %}">Components</a></h2>
            </section>

            <section class="complimentarys">
                <h2><span class="emoji">🔄</span> <a href="{% url 'products_movements' %}">Products Movements</a></h2>
            </section>

        {% endif %}

            <section class="warehouse-movements">
                <h2><span class="emoji">🚚</span> <a href="{% url 'warehouse_movements' %}">Warehouse Movements</a></h2>
            </section>

        </aside>

        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </main>

    <footer>
        <!-- ваш футер -->
    </footer>
</body>

</html>