<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/index.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Inventory Management System</h1>
        </div>
    </header>

    <main>
        <aside class="sidebar">
            <section class="warehouse">
                <h2><span class="emoji">🏬</span> <a href="{% url 'warehouse' %}">Warehouses</a></h2>
            </section>

            {% if request.session.is_admin %}
            <section class="offices">
                <h2><span class="emoji">🏢</span> <a href="{% url 'offices' %}">Offices</a></h2>
            </section>

            <section class="employees">
                <h2><span class="emoji">👥</span> <a href="{% url 'employees' %}">Employees</a></h2>
            </section>

            <section class="products">
                <h2><span class="emoji">📦</span> <a href="{% url 'products' %}">Products</a></h2>
            </section>

            <section class="orders">
                <h2><span class="emoji">📑</span> <a href="{% url 'orders' %}">Orders</a></h2>
            </section>

            <section class="components">
                <h2><span class="emoji">⚙️</span> <a href="{% url 'components' %}">Components</a></h2>
            </section>

            <section class="category">
                <h2><span class="emoji">🗂️</span> <a href="{% url 'category' %}">Category</a></h2>
            </section>

            <section class="complimentarys">
                <h2><span class="emoji">🔄</span> <a href="{% url 'products_movements' %}">Products Movements</a></h2>
            </section>

            {% endif %}

            <section class="warehouse-movements">
                <h2><span class="emoji">🚚</span> <a href="{% url 'warehouse_movements' %}">Warehouse Movements</a></h2>
            </section>
        </aside>

        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </main>

    </div>

    <!-- Футер -->
    <footer>
        <div class="footer-container">
             <!-- Добавление слайдера -->
        <div class="slider-container">
            <div class="slider">
                <!-- Изображения для слайдов -->
                <div><img src="{% static 'images/slide2.jpg' %}" alt="Slide 2"></div>
                <div><img src="{% static 'images/slide3.jpg' %}" alt="Slide 3"></div>
                <!-- Добавьте свои изображения и альтернативный текст, как необходимо -->
            </div>
        </div>

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Инициализация слайдера с автоматическим переключением -->
    <script>
        $(document).ready(function () {
            $('.slider').slick({
                autoplay: true,
                autoplaySpeed: 3000, // Время в миллисекундах между переключениями
            });
        });
    </script>

</body>

</html>