<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}" autocomplete="off">
            {% csrf_token %}
            <div class="input-group">
                <label for="name">Name:</label>
                <input type="text" name="name" required>
            </div>
            <div class="input-group">
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" required>
            </div>
            <button type="submit">log in</button>
        </form>
    </div>
</body>
</html>
