body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 35px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header-container,
.footer-container {
    max-width: 1200px;
    margin: auto;
}

main {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #eee;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-bottom: 10px;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.emoji {
    font-size: 1.2em;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        box-shadow: none;
    }

    .content {
        width: 100%;
    }
}

.header-container {
    position: relative;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 24px;
    /* Normal size for header */
}

.footer-container {
    position: relative;
}

.slider-container {
    width: 1%;
    max-height: 1%;
    /* Замените на нужное значение */
    overflow: hidden;
}

.slider img {
    width: 2%;
    line-height: 0;
}