{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Offices{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'offices/offices.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'offices/offices.js' %}"></script>
</head>

<body>

    <h2>Offices</h2>
    <input type="text" id="searchInput" placeholder="Search...">
    <form method="post">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Address</th>
                    <th>Area</th>
                    <th>Phone</th>
                    <th>Hidden</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for office in offices %}
                <tr data-id="{{ office.id }}" class="office-row {% if office.hidden %}hidden-row{% endif %}" data-hidden-state="{% if office.hidden %}hidden{% else %}visible{% endif %}">
                    <td>{{ office.id }}</td>
                    <td>{{ office.address }}</td>
                    <td>{{ office.area }}</td>
                    <td>{{ office.phone }}</td>
                    <td>
                        <input type="checkbox" {% if office.hidden %}checked{% endif %} data-office-id="{{ office.id }}" class="hidden-checkbox">
                    </td>
                    <td>
                        <a href="{% url 'edit_office' office.id %}"><button type="button" class="button-edit">Edit</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'add_offices' %}"><button type="button" class="add-button">Add</button></a>
        <button type="button" class="Hidden-button">Save changes</button>
        <button type="button" class="Show-hidden-button">Show hidden</button>
    </form>

</body>
</html>
{% endblock %}
